// Override to angular-material //
.md-button{
  margin: 0;
}
md-list{
  padding: 0;
}
/////////////////////////////////

body{
  margin: 0;
}

#wrap{
  background-color: white;
  position: absolute;
  margin-left: -470px;
  left: 50%;
}

#content-wrapper{
  flex-basis: 940px;
  margin: 0 auto;

  #content{
    #content-left{
      width: 490px;
      padding-top: 50px;
    }

    #content-right{
      width: 450px;
    }
  }
}

#menu{
  width: 490px;
  height: 50px;
  position: fixed;
  z-index: 100;
  background-color: white;
}

.list-component{
  height: 115px;

  img{
    width: 120px;
    height: 90px;
  }

  .list-info{
    padding: 10px;
  }
}

.song-component{
  height: 60px;

  img{
    width: 68px;
    height: 51px;
  }

  .song-info{
    width: 420px;
    padding: 10px;

    .info-title{
      width: 340px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.watch-more{
  height: 40px;
  width: 490px;
  margin: 0;
}

.isSelected{
  background-color: rgba(158,158,158,0.3);
}

#music-list-song{
  height: 430px;
  width: 450px;
  position: fixed;
}

.pagination{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  li a{
    padding: 6px 12px;
    text-decoration: none;
  }
}

#id-box{
  position: fixed;
  right: 0;
  width: 240px;
  height: 100%;
  background-color: #555555;
}