<div id="id-box" layout="column">
    <md-content id="id-box-top" ng-if="vm.Session.isLogin" layout="row" layout-align="center center" flex="noshrink">
        <div>{{ vm.Session.user.name }}</div>
        <div class="logout" ng-click="vm.logout()">로그아웃</div>
    </md-content>
    <md-content id="login-box" ng-if="!vm.Session.isLogin" layout="column" layout-padding>
        <form id="login-form" ng-submit="vm.login()" method="post" layout="column" layout-align="center center">
            <div id="signUp-btn" ng-click="vm.isShowForm = true">회원가입</div>
            <div id="login-input-area" layout="column" layout-align="center center">
                <input ng-model="vm.user.email" type="email" name="email" placeholder="이메일">
                <input ng-model="vm.user.password" type="password" name="password" placeholder="비밀번호">
            </div>
            <md-button id="login-submit-btn" class="md-raised md-primary" type="submit">로그인</md-button>
        </form>
    </md-content>
    <div id="player-wrap" ng-if="vm.Player.videoid">
        <youtube width="{{ vm.Player.width }}" height="{{ vm.Player.height }}" videoid="{{ vm.Player.videoid }}" class="player"></youtube>
    </div>
    <div id="id-box-list" ng-if="vm.Session.isLogin" layout="column">
        <md-button ng-click="vm.listControl('up')">UP</md-button>
        <div ng-repeat="item in vm.Session.user.list track by $index"
             ng-if="$index >= vm.listStart && $index <= vm.listEnd" ng-click="vm.selectList(this.item.id); vm.highlighting($index)"
             ng-class="{ isSelected: vm.selectedList == $index }">
            <div class="md-list-item-text id-box-list-component" layout="row" layout-align="center center">
                <div class="list-info" layout="column" layout-align="center center">
                    <div class="info-name">{{ item.name }}</div>
                </div>
            </div>
            <md-divider></md-divider>
        </div>
        <md-button ng-click="vm.listControl('down')">DOWN</md-button>
    </div>
    <div id="id-box-song-wrap" ng-if="vm.Session.isLogin">
        <md-content id="id-box-song">
            <md-list layout="column">
                <md-list-item dir-paginate="item in vm.Player.playlist | itemsPerPage: vm.Player.playlistPageNum"
                              current-page="vm.Player.playlistCurrentPage"
                              ng-click="vm.Player.playVideo($index, 'playlist'); vm.Player.highlighting($index, 'playlist')"
                              ng-class="{ isSelected: vm.selectedSong == $index }"
                              pagination-id="playlist">
                    <div class="md-list-item-text id-box-song-component" layout="row" flex="100">
                        <div class="song-img" layout="row" layout-align="center center" flex="20">
                            <img ng-src="{{ item.snippet.thumbnails.default.url }}"/>
                        </div>
                        <div class="song-info" layout="column" layout-align="center center" flex="80">
                            <div class="info-title">{{ item.snippet.title }}</div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
        <dir-pagination-controls boundary-links="true"
                                 template-url="/partials/dirPagination.tpl.html"
                                 pagination-id="playlist"
                                 on-page-change="vm.Player.highlighting(vm.Player.status.listIndex || 0, 'playlist')">
        </dir-pagination-controls>
    </div>
        <md-content id="signUp-form" ng-if="vm.isShowForm" layout="column" layout-padding>
            <form name="signUp" layout="column"layout-align="center center">
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input name="email" ng-model="vm.signUp.email" ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="signUp.email.$error">
                        <div ng-message="required">반드시 필요한 항목입니다.</div>
                        <div ng-message="pattern">유효하지 않은 이메일입니다.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Nickname</label>
                    <input name="nickname" ng-model="vm.signUp.Nickname" minlength="2" maxlength="10" required>
                    <div ng-messages="signUp.nickname.$error">
                        <div ng-message="required">반드시 필요한 항목입니다.</div>
                        <div ng-message-exp="['minlength', 'maxlength']">2자 이상 10자 이하로 설정해주세요.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input name="password" ng-model="vm.signUp.Password" type="password" minlength="8" maxlength="20" required>
                    <div ng-messages="signUp.password.$error">
                        <div ng-message="required">반드시 필요한 항목입니다.</div>
                        <div ng-message-exp="['minlength', 'maxlength']">8자 이상 20자 이하로 설정해주세요.</div>
                    </div>
                </md-input-container>
                <md-button id="signUp-submit-btn" class="md-raised md-primary" type="submit">확인</md-button>
            </form>
        </md-content>
</div>