<div id="content-left">
    <div id="left-list">
        <div id="order-wrap">
            <md-tabs md-selected="vm.List.order" ng-click="vm.changeListOrder()" md-border-bottom md-autoselect>
                <md-tab label="Date"></md-tab>
                <md-tab label="Like"></md-tab>
            </md-tabs>
        </div>
        <div id="music-list-wrap">
            <md-list layout="column">
                <md-list-item ng-repeat="item in vm.List.musicList track by $index"
                              ng-click="vm.selectList(this.item.id, $index)"
                              ng-class="{ isSelected: vm.selectedList == $index }"
                              ng-mouseenter="this.showTooltip = true"
                              ng-mouseleave="this.showTooltip = false">
                    <md-tooltip md-visible="this.showTooltip" md-direction="left">
                        {{ item.detail }}
                    </md-tooltip>
                    <div class="md-list-item-text list-component" layout="row" flex="100" layout-align="center center">
                        <div class="list-img" layout="row" layout-align="center center">
                            <div class="img-wrap" layout="row" layout-align="center center">
                                <img ng-src="/thumbnails/{{ item.thumbnail }}"/>
                            </div>
                        </div>
                        <div class="list-info" layout="row" layout-align="start center">
                            <div class="info-wrapper" layout="column">
                                <div class="info-name"><strong>{{ item.name }}</strong></div>
                                <div class="info-nickname">{{ item.User.nickname }}</div>
                                <div class="info-createAt">{{ item.createdAt | date }}</div>
                                <div class="info-like"><strong>{{ item.like }}</strong>명이 좋아합니다</div>
                            </div>
                        </div>
                        <div class="list-icon" layout="row" layout-align="center center">
                            <div ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="vm.likeToggle(this)">
                                <i ng-if="item.isLike" ng-class="hover ? 'fa fa-heart-o' : 'fa fa-heart'" aria-hidden="true"></i>
                                <i ng-if="!item.isLike" ng-class="hover ? 'fa fa-heart' : 'fa fa-heart-o'" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
            <div layout="row" layout-align="center center"><md-button class="watch-more" ng-click="vm.watchMore()">더보기</md-button></div>
        </div>
    </div>
    <!--<div id="search-bar"></div>-->
</div>
<div id="content-right" layout="column">
    <div id="right-wrap">
        <div id="right-song" layout="column">
            <div id="music-list-song">
                <md-list layout="column">
                    <md-list-item dir-paginate="item in vm.Player.listDetail | itemsPerPage: vm.Player.listDetailNumPerPage"
                                  current-page="vm.Player.listDetailCurrentPage"
                                  ng-click="vm.Player.playVideo($index, 'listDetail'); vm.Player.highlighting($index, 'listDetail')"
                                  ng-class="{ isSelected: vm.selectedSong == $index }"
                                  pagination-id="listDetail">
                        <div class="md-list-item-text song-component" layout="row" layout-align="center center" flex="100">
                            <div class="song-img" layout="row" flex="20">
                                <img ng-src="{{ item.snippet.thumbnails.default.url }}"/>
                            </div>
                            <div class="song-info" layout="column" flex="80">
                                <div class="info-title">{{ item.snippet.title }}</div>
                            </div>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </div>
            <div class="pagination-wrap">
                <dir-pagination-controls max-size="5"
                                         template-url="/partials/dirPagination.tpl.html"
                                         pagination-id="listDetail"
                                         on-page-change="vm.Player.highlighting(vm.Player.status.listIndex, 'listDetail')">
                </dir-pagination-controls>
            </div>
        </div>
        <div id="right-comment" ng-class="{hidden : !vm.isShowComment}">
            <md-button id="comment-toggle-btn" ng-click="vm.isShowComment = !vm.isShowComment"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></md-button>
            <form id="comment-create" name="commentForm" layout="row">
                <div id="comment-textarea">
                    <md-input-container class="md-block" md-no-float md-is-error="vm.commentContent.length > 100">
    <textarea name="content" ng-model="vm.Comment.content" rows="3" max-rows="3"
              md-select-on-focus md-no-resize spellcheck="false" kr-input placeholder="댓글을 입력해 주세요"></textarea>
                        <div id="comment-error" ng-class="{ isLimit: vm.Comment.content.length > 100 }">
                            {{ vm.Comment.content.length }} / 100
                        </div>
                    </md-input-container>
                </div>
                <div id="comment-submit-btn" layout="row">
                    <md-button class="md-raised" ng-click="vm.submitComment()">등록</md-button>
                </div>
            </form>
            <div id="comment-list-wrap" layout="column">
                <div id="comment-order">
                    <md-tabs md-border-bottom md-autoselect md-dynamic-height ng-init="order = 'createdAt'">
                        <md-tab label="Date" ng-click="order = 'createAt'"></md-tab>
                        <md-tab label="Like" ng-click="order = 'like'"></md-tab>
                    </md-tabs>
                </div>
                <div id="comment-list">
                    <div dir-paginate="item in vm.Comment.commentList | itemsPerPage: vm.Comment.commentNumPerPage | orderBy: order:true"
                         pagination-id="comment">
                        <div class="comment-content" layout="row">
                            <div class="comment-nickname">
                                {{ item.User.nickname }}
                            </div>
                            <div class="comment-content">
                                {{ item.content }} <br>
                                {{ item.createdAt | date:"yyyy. MM. dd.  H:mm" }}
                            </div>
                            <div class="comment-like">
                                {{ item.like }}
                            </div>
                        </div>
                        <md-divider></md-divider>
                    </div>
                </div>
                <div class="pagination-wrap">
                    <dir-pagination-controls max-size="5"
                                             template-url="/partials/dirPagination.tpl.html"
                                             pagination-id="comment">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>